h1 {
  background-color: black;
  color: white;
  text-align: center;
  height: 60px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Arial;
}

p.navlink {
  text-align: right;
  margin-right: 35px;
  font-family: Arial;
}


div.Calendario {
  margin-top: 40px;
  margin-left: 40px;
  font-family: Arial;
}
div.personas {
  margin-top: -71px;
  margin-left: 315px;
  font-family: Arial;
}

div.horario {
  margin-left: 315px;
  margin-top: 10px;
  font-family: Arial;
}

input.personas {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border-color: black;
  text-align: center;
  border-width: 1px;
}

input.fechadisp {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border-color: black;
  text-align: center;
  border-width: 1px;
}

input.horario {
  margin-left: 48px;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border-color: black;
  text-align: center;
  border-width: 1px;
}

button#confirmreserva {
  background-color: red;
  height: 40px;
  width: 300px;
  margin-left: 310px;
  margin-top: 200px;
  border-radius: 5px;
  border-color: lightyellow;
  border-width: 2px;
  color: white;
  font-weight: bold;
}
